In [6]:
import numpy as np
import pandas as pd

In [18]:
movies = pd.read_csv('tmdb_5000_movies.csv')#creating two dataframes
credits = pd.read_csv('tmdb_5000_credits.csv')

In [8]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [12]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [19]:
movies = movies.merge(credits, on='title') #merging two dataframe on the basis of title

In [16]:
movies.head(1) #new dataframe

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [20]:
#keeping important columns
#genres
#id
#keywords
#title
#overview
#cast
#crew

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [24]:
movies.isnull().sum() #finds how much null data present

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [25]:
movies.dropna(inplace=True) #drop the null data row

In [26]:
movies.duplicated().sum() #to cheack the duplicate data

0

In [27]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [29]:
#[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]
#['action','adventure','fantasy', scifi']

In [32]:
def convert(obj):#string obj
    L=[]
    for i in ast.literal_eval(obj):#List Obj using ast.literal_eval()
        L.append(i['name'])
    return L

In [30]:
import ast

In [38]:
movies['genres'] = movies['genres'].apply(convert)#creating tags using genres col

ValueError: malformed node or string: ['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [37]:
movies['keywords'] = movies['keywords'].apply(convert)#creating tags using keywords col

In [40]:
def convert3(obj):#string obj
    L=[]
    counter=0
    for i in ast.literal_eval(obj):#List Obj using ast.literal_eval()
        if counter !=3:
             L.append(i['name'])
             counter+=1
        else:
             break
    return L

In [41]:
movies['cast'] = movies['cast'].apply(convert3)#creating tags using cast col

In [51]:
def fetch_director(obj):#string obj fetching director
    L=[]
    for i in ast.literal_eval(obj):#List Obj using ast.literal_eval()
        if i['job'] == 'Director':
           L.append(i['name'])
           break
    return L

In [52]:
movies['crew'] = movies['crew'].apply(fetch_director)#fetching director

In [56]:
movies['overview'] = movies['overview'].apply(lambda x:x.split()) #converting string into list

In [58]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x]) #removing spaces
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [62]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']#creating a new col by combining all col

In [63]:
new_df = movies[['movie_id','title','tags']]#creating new dataframe

In [68]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))#converting list into string

C:\Users\cheta\AppData\Local\Temp\ipykernel_8276\3353626250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))#converting list into string

In [70]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [81]:
pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl.metadata (2.8 kB)
Collecting click (from nltk)
  Downloading click-8.1.7-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: joblib in c:\users\cheta\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.3.2)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2023.12.25-cp312-cp312-win_amd64.whl.metadata (41 kB)
     ---------------------------------------- 0.0/42.0 kB ? eta -:--:--
     ------------------ ------------------- 20.5/42.0 kB 330.3 kB/s eta 0:00:01
     -------------------------------------- 42.0/42.0 kB 406.8 kB/s eta 0:00:00
Collecting tqdm (from nltk)
  Downloading tqdm-4.66.2-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.6 kB ? eta -:--:--
     ---------------------------------------- 57.6/57.6 kB 1.5 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\cheta\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)
Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   -- ------------------------------------- 0.1/1.5 MB 3.3 MB/s eta 0:00:01
   ----- ---------------------------------- 0.2/1.5 MB 2.5 MB/s eta 0:00:01
   -------- ------------------------------- 0.3/1.5 MB 2.4 MB/s eta 0:00:01
   -------- ------------------------------- 0.3/1.5 MB 2.4 MB/s eta 0:00:01
   -------- ------------------------------- 0.3/1.5 MB 2.4 MB/s eta 0:00:01
   -------- ------------------------------- 0.3/1.5 MB 2.4 MB/s eta 0:00:01
   ----------- ---------------------------- 0.4/1.5 MB 1.5 MB/s eta 0:00:01
   ------------ --------------------------- 0.5/1.5 MB 1.3 MB/s eta 0:00:01
   --------------- ------------------------ 0.6/1.5 MB 1.5 MB/s eta 0:00:01
   ------------------ --------------------- 0.7/1.5 MB 1.6 MB/s eta 0:00:01
   ----------------------- ---------------- 0.9/1.5 MB 1.8 MB/s eta 0:00:01
   ------------------------- -------------- 1.0/1.5 MB 1.9 MB/s eta 0:00:01
   ---------------------------- ----------- 1.1/1.5 MB 1.9 MB/s eta 0:00:01
   ----------------------------- ---------- 1.1/1.5 MB 1.9 MB/s eta 0:00:01
   ----------------------------- ---------- 1.1/1.5 MB 1.9 MB/s eta 0:00:01
   -------------------------------- ------- 1.2/1.5 MB 1.8 MB/s eta 0:00:01
   --------------------------------- ------ 1.2/1.5 MB 1.7 MB/s eta 0:00:01
   ---------------------------------- ----- 1.3/1.5 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 1.4/1.5 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------  1.5/1.5 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 1.7 MB/s eta 0:00:00
Downloading regex-2023.12.25-cp312-cp312-win_amd64.whl (268 kB)
   ---------------------------------------- 0.0/268.9 kB ? eta -:--:--
   ------------ --------------------------- 81.9/268.9 kB 2.3 MB/s eta 0:00:01
   --------------------- ------------------ 143.4/268.9 kB 1.7 MB/s eta 0:00:01
   ------------------------------ --------- 204.8/268.9 kB 1.8 MB/s eta 0:00:01
   ---------------------------------------  266.2/268.9 kB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 268.9/268.9 kB 1.5 MB/s eta 0:00:00
Downloading click-8.1.7-py3-none-any.whl (97 kB)
   ---------------------------------------- 0.0/97.9 kB ? eta -:--:--
   ----------------------------- ---------- 71.7/97.9 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 97.9/97.9 kB 1.9 MB/s eta 0:00:00
Downloading tqdm-4.66.2-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.3 kB ? eta -:--:--
   ------------------------------- -------- 61.4/78.3 kB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 78.3/78.3 kB 872.5 kB/s eta 0:00:00
Installing collected packages: tqdm, regex, click, nltk
Successfully installed click-8.1.7 nltk-3.8.1 regex-2023.12.25 tqdm-4.66.2
Note: you may need to restart the kernel to use updated packages.

In [82]:
import nltk

In [83]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [84]:
def stem(text):#stemming function
    y = []

    for i in text.split():
        y.append(ps.stem(i))

    return " ".joi(y)

In [108]:
new_df['tags'] = new_df['tags'].apply(stem)#applying stemming

AttributeError: 'str' object has no attribute 'joi'

In [86]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())#converting into lower case

C:\Users\cheta\AppData\Local\Temp\ipykernel_8276\240675503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())#converting into lower case

In [87]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')#max is no of words to perform vectorization

In [88]:
vectors = cv.fit_transform(new_df['tags']).toarray()# converting sparse matrix to numpy array

In [89]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [92]:
from sklearn.metrics.pairwise import cosine_similarity #to find similarity bw movies

In [94]:
similarity = cosine_similarity(vectors) #similarity function

In [95]:
sorted(list(enumerate(similarity[0])),reverse=True, key=lambda x:x[1])[1:6]#sorting based on the similarity

[(539, 0.26089696604360174),
 (1192, 0.2581988897471611),
 (507, 0.25302403842552984),
 (260, 0.25110592822973776),
 (1214, 0.24944382578492943)]

In [98]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [101]:
import pickle

In [102]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [103]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [106]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [107]:
new_df.head(3)

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...

In [114]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman & Robin
Batman